<!DOCTYPE html>
<html lang="en">
<head>
  {{>headerlinks}}
</head>
<body>
    {{>navbar}}

    <!-- main header  -->
    <div class="container-fluid main_header">
        <div class="row">
            <div class="col-md-10 col-12 mx-auto">
                <div class="row">
                    <!-- left siide div  -->
                    <div class="col-md-6 col-12 main_header_right align-items-center">
                        <figure>
                            <img src="images/About.png" alt="AtmosEye" class="img-fluid" title="About">
                        </figure>
                    </div>
                    <div class="col-md-6 col-12 main_header_left">
                        <p>Welcome to the Weather App</p>
                        <h1>I am a <span class="text-clr">MERN</span> Stack Developer</h1>
                        <a href="https://in.linkedin.com/in/arati-ambekar-7627802b9"><button>About me</button></a>
                    </div>
                    <!-- right siide div  -->
                   
                </div>  
            </div>
        </div>
    </div>
    
    <!-- footer code -->
     {{>footer}}
</body>
</html>